<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About The Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='other.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{{ url_for('home') }}" class="nak">Pulmora</a>
            <ul class="navbar-menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('index') }}">Detection Page</a></li>
                <li><a href="{{ url_for('extra') }}">Extra Information</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="section-box">
            <h1>About The Website</h1>
            <p>Pulmora is designed to help users in detecting pneumonia by analyzing X-ray images using artificial
                intelligence.
                The website uses a deep learning model called Convolutional Neural Network (CNN) for this.
                Pulmora also provides more information about pneumonia, its symptoms, prevention, and treatment options.
                This website was made as part of an IB personal project by Arush Tiwary.
            </p>
        </div>

        <div class="section-box">
            <h1>How does the website work?</h1>
            <p>The website uses a machine learning model called Convolutional Neural Network (CNN)
                which is trained to look at X-ray images for pneumonia.
                The model is trained on a large dataset of 5000 labeled X-ray images. This allows it to accurately
                identify patterns
                associated with pneumonia.
                With this training, it is able to detect patterns in new X-ray images uploaded by users that may
                indicate pneumonia.
                Users can upload their X-ray images, and the image is passed through the backend which contains the
                model.
                The model then provides the user with a
                diagnosis along with a confidence score, based on how sure the model is on its guess.
                The model has a training accouracy of ~95%</p>
        </div>

        <div class="section-box">
            <h1>What to do with your diagnosis?</h1>
            <p>After you receive your diagnosis from the website, you should analyse the score.
                The confidence score shows how sure the model is about its diagnosis.
                If the confidence score is high (above 80%), you can be fairly confident in the diagnosis.
                However, if the confidence score is low (below 60%), it's best to take the diagnosis with a grain of salt 
                as the lowest confidence score possible is 50% (like flipping a coin).
                Regardless of the score, it is always best to consult a healthcare provider for a definitive diagnosis
                and appropriate treatment. Again, this tool is only a prediction tool and should not be used
                as a replacement for a medical professional.
            </p>
        </div>



</body>

</html>